<section>
  <form #f = "ngForm" (ngSubmit) = "onSubmit(f)" fxLayout = "column" fxLayoutAlign = "center center"
        fxLayoutGap = "10px">
    <mat-form-field>
      <input #emailInput = "ngModel" autocomplete = "off" email matInput name = "email" ngModel placeholder = "Your Email"
             required type = "email">
      <mat-error *ngIf = "emailInput.hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf = "!emailInput.hasError('required')">Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel = "Should be at least 6 characters long.">
      <input #pwInput = "ngModel" matInput minlength = "6" name = "password" ngModel placeholder = "Password" required
             type = "password">
      <mat-hint align = "end">{{pwInput.value?.length}}/6</mat-hint>
      <mat-error *ngIf = "pwInput.hasError('required')">Password is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input [matDatepicker] = "picker" [max] = "maxDate" matInput name = "birthDate" ngModel
             placeholder = "Your Birth date" required>
      <mat-datepicker-toggle [for] = "picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox color = "primary" name = "agree" ngModel required>Agree to Terms and Conditions.</mat-checkbox>
    <button *ngIf = "!(isLoading$ | async)" [disabled] = "f.invalid" color = "primary" mat-raised-button
            type = "submit">Sign Up</button>
    <mat-spinner *ngIf = "isLoading$ | async"></mat-spinner>
  </form>
</section>
